.cover__link {
  text-decoration: none;
  color: #ffffff;
  background-image: url(../../../images/cover__background.jpg);
  height: 100%;
  width: 100%;
  min-height: 740px;
  background-size: cover;
  background-position: center;
  margin: 0;
  opacity: 0.8;
  transition: 0.3s 0s opacity ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover__link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: 0.3s opacity linear;
  -webkit-transition: 0.3s opacity linear;
    -moz-transition: 0.3s opacity linear;
    -ms-transition: 0.3s opacity linear;
    -o-transition: 0.3s opacity linear;
  z-index: -1;
}

.cover__link:hover::before {
  opacity: 0.8;
  cursor: url(../../../images/new_pointer.svg), pointer;
}

@media (max-width: 1024px) {
    .cover__link {
      min-height: 640px;
    }
}

@media (max-width: 768px) {
    .cover__link {
      min-height: 480px;
    }
}

@media (max-width: 600px) {
    .cover__link {
      min-height: 360px;
    }
  }

  @media (max-width: 480px) {
    .cover__link {
      min-height: 288px;
    }
  }

  @media (max-width: 320px) {
    .cover__link {
      min-height: 200px;
    }
  }

