/* html, body {
  width: 100%;
} */

/* div, svg, section, h1, h2, p, ul, a, img, header, body {
  border: 1px solid blue;
} */

.page {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  background: #2A2C2F;
  color: #FFFFFF;
  max-width: 1280px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  width: 100%;
}
