@import url('./__logo/header__logo.css');
@import url('./__links-container/header__links-container.css');
@import url('./__lang-link/header__lang-link.css');
@import url('./__lang-link/_active/header__lang-link_active_link.css');

.header {
  margin: 28px 48px 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 92%;
}

@media (max-width: 768px) {
    .header {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media (max-width: 320px) {
    .header {
        margin: 16px 16px 0;
    }
}

