.footer__link {
  font-family: 'Inter', Arial, sans-serif;
  color: #FFFFFF;
  margin-right: 18px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  transition: opacity 0.3s linear;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__link:hover {
  cursor: url(../../../images/Imported\ Layers\ Copy\ 4.svg), pointer;
  opacity: 0.8;
  box-shadow: 0px 0px 15px rgb(114, 116, 116);
}

@media (max-width: 720px) {
    .footer__link {
      font-size: 24px;
      line-height: 24px;
      margin-right: 0;
      margin-bottom: 32px;
  }
}

@media (max-width: 320px) {
    .footer__link {
      font-size: 24px;
      line-height: 24px;
      margin-right: 0;
      margin-bottom: 32px;
  }

    .footer__link:last-child {
      margin-bottom: 48px;
  }

}
