@import url('./__background/cover__background.css');
@import url('./__link/cover__link.css');
@import url('./__overlay/cover__overlay..css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__title/cover__title.css');

.cover {
  width: 100%;
  max-width: 1185px;
  margin: 0 auto 92px;
}

@media (max-width: 1024px) {
    .cover {
        max-width: 1024px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .cover {
        max-width: 768px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 88px;
    }
}

@media (max-width: 320px) {
    .cover {
        max-width: 320px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 64px;
    }
}
