.cover__overlay {
  min-width: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
    .cover__overlay {
        min-width: 440px;
    }
  }

@media (max-width: 480px) {
    .cover__overlay {
        min-width: 223px;

    }
  }

  @media (max-width: 320px) {
    .cover__overlay {
        min-width: 288px;
    }
}
