@import url('./__first-paragraph/place__first-paragraph.css');
@import url('./__image-paragraphs-section/place__image-paragraphs-section.css');
@import url('./__image/place__image.css');
@import url('./__link/place__link.css');
@import url('./__paragraphs/place__paragraphs.css');
@import url('./__second-paragraph/place__second-paragraph.css');
@import url('./__title-website-section/place__title-website-section.css');
@import url('./__title/place__title.css');
@import url('./__url-heading/place__url-heading.css');
@import url('./_website/place__website.css');

.place {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}
