@import url('./__copyright/footer__copyright.css');
@import url('./__link-container/footer__link-container.css');
@import url('./__link/footer__link.css');

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  margin: 0 auto;
  color: #ffffff;
  max-width: 1184px;
}

@media (max-width: 1024px) {
    .footer {
      max-width: 928px;
  }
}

@media (max-width: 767px) {
    .footer {
      max-width: 720px;
      margin-left: 24px;
      margin-right: 24px;
  }
}

@media (max-width: 320px) {
    .footer {
      max-width: 186px;
      margin-left: 16px;
      margin-right: 118px;
      flex-direction: column;
  }
}
