.place__url {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #ffff;
    transition: opacity 0.3s linear;
}

.place__url:hover {
    opacity: 0.8;
    cursor: url(../../../images/new-pointer.svg), pointer;
}
